# Configurações do Servidor
PORT=3000

# Banco de Dados (MongoDB Atlas ou Local)
# Substitua os valores abaixo pela sua string de conexão
MONGO_URI=mongodb+srv://<usuario>:<senha>@cluster0.mongodb.net/liveclass

# Autenticação (JWT)
# Use uma string longa e aleatória para o Secret
JWT_SECRET=sua_chave_secreta_aqui_muito_segura_qualquer_tipo
JWT_EXPIRES_IN=7d

